.App {
    font-family: sans-serif;
    text-align: center;
    background: url(https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNvZnR8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
  