.timeline__container {
    margin-top: 30px;
    width: 98vw;
    height: 100%;
}
.timeline__title {
    border-bottom: 1px solid black;
    margin: 0 auto 30px;
}
.timeline__list {
    margin-left: -20px;
    width: 90vw;
}
  